*{
    margin: 0;
    padding: 0;
   
}

.nav{
    margin-left:15px;
    margin-top: 0;
    display: hidden;
   
}

.nav .nav-item{
    display: inline-block;
    padding-top: 0px ;
}

.nav-item .logo{
    width: 150px;
    height: 100px;
 }
 



 a img{
    width: 100px;
}

.fa-bars{
    font-size: 1.5rem;
    color: black;
}

.fa-close{
    position: absolute;
    margin: 40px 15px;
    top: 0;
    right: 0;
    color: black;
}



.overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom : 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s opacity;
    opacity: 0;
    visibility: hidden;
    z-index: 250;
}

.overlay:target{
    opacity: 1;
    visibility: visible;
} 

.left-menu{
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    padding-left: 15px;
    width: 60%;
    height: 100%;
    z-index: 500;
    color : black;
    display: inline-block;
    transition: all 0.7s ease-in-out;
}


.left-menu ul>li{
   padding: 15px 25px 15px 25px;
   height: inherit;
}

.left-menu li a{
    color: rgba(0, 0, 0, 0.541);
    text-decoration: none;
}

.left-menu ul>li.active{
    border-bottom: 3px solid blue;

}
.active>a{
    color: black;
}

.left-menu ul>li:hover{
    background-color: rgba(224, 220, 220, 0.541);

}


/* 
.left-menu.full{
    position: absolute;
    top: 0;
    background-color: white;
    padding-left: 15px;
    display: flex;
}

.overlay>.full{
    display: visible;
}



.left-menu li{
    margin-top: 10px;
    padding: 15px;
    height: 50px;
    font-size: 1.2rem;
}



.left-menu li.active{
    font-weight: bolder;
    background-color: whitesmoke;
    border-radius: 35px;
} */
.find{
    font-size: 1.5rem;
    margin:  200px 0 200px 0;
}

.buttons .btn{
    margin: 0 40px 0 40px;
}

.card{
    border: none;
}

.btn a{
    text-decoration: none;
    color: white;
}

.card text{
    font-size: 1.5rem;
}

.wrapper{
    margin: 50px 0;
    position: relative;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0;
}

.wrapper .icon{
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}

.icon:first-child{
    left: 0;
    display: none;
    background: linear-gradient(-90deg,#fff 30%, transparent);
}

.icon:last-child{
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(90deg,#fff 30%, transparent);
}

.icon i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
}



.wrapper .tabs-box{
    display: flex;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.tabs-box .tab{
    font-size: 1.18rem;
    white-space: nowrap;
    padding: 15px 20px;
}

.tabs-box.dragging{
    scroll-behavior: smooth;
    cursor: grab;
}

.tab.active a{
    color: rgba(0, 0, 0, 0.801);
    font-weight: 500;
}

.dragging .tab{
    user-select: none;
}

.tab a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.541);
    font-weight: 500;
}

.tab:hover{
    background-color: rgba(169, 169, 169, 0.082);
}
.tab:hover a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.541);
    font-weight: 500;
}
.networks li{
    display: inline-block;
    margin: 0 15px 0 10px;
}


.col:first-child{
    vertical-align: middle;
}

.all-p{
    text-align: justify;
}

.all-p li{
    height: 50px;
    padding : 15px 0;
    
}

li .img-fluid{
    width: 25px;
    margin-right:10px;
}

footer{
    padding-left: 5%;
    margin-top: 100px;
}

footer h4, footer ul{
    display: inline-block;
    margin: 0 5px 10px 0;
}
footer ul li{
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}